<main>
  <section class="buttons">
    <a class="ultimos-ingresos" href="/historial">
      <span>Últimos Ingresos</span>
    </a>
    <a class="proximos-debitos" href=""> <span>Proximos Debitos</span> </a>
    <a class="categorias" href="/categories"> <span>Categorias</span> </a>
  </section>
  <section class="gastos">
    <span>Gastos > </span>
  </section>
  <section></section>
</main>

<style>
  main {
    width: 100%;
    border: 1px solid red;
    min-height: calc(100vh - 100px);
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
  }

  section {
    border: 1px solid blue;
    width: 30%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  section a {
    height: 110px;
    border-radius: 15px;
    max-width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }

  span {
    display: inline-block;
  }

  a.ultimos-ingresos {
    background-color: #0b351d;
  }

  a.proximos-debitos {
    background-color: #4ebe7c;
    color: black;
  }

  a.categorias {
    background-color: #285239;
  }

  section.gastos {
    background-color: #285239;
    border-radius: 15px;
    padding: 10px;
  }

  .gastos span {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: end;
    padding-right: 10px;
  }
</style>
